# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry virtualenv
/.venv/

# Poetry lock and metadata (keep pyproject.toml)
/poetry.lock

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env
.env.*.local

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Local history for JetBrains IDEs
.localHistory/

# Flask/Django SQLite DB
*.db
*.sqlite3

# MyPy
.mypy_cache/

# Editor backup files
*~
